<h1>New Product</h1>
<p>
	<%= form_for @product do |f| %>
<% if @product.errors.any? %>
	<p>There were <%= pluralize(@product.errors.count, 'error') %>  with your submission. Please revisit your input and try again. These were the issues:</p>
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
<div>
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
</div>
<br>
<div>
	<%= f.label :description %>
	<br>
	<%= f.text_area :description %>
</div>
<br>
<div>
	<%= f.label :price %>
	<br>
	<%= f.text_field :price %>
</div>
<br>
<div>
	<%= f.label :stock_quantity %>
	<br>
	<%= f.text_field :stock_quantity %>
</div>
<br>
<div>
	<%= f.submit "Create Product" %> 
</div>
<% end %>
</p>
